.contact-wrap {
  background-color: white;
  width: 90%;
  border-radius: 0.5rem;
  margin: 0.4rem auto;
  padding: 0.5rem;
  position: relative;
  font-family: "Titillium Web", sans-serif;

  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 2rem;

    h2 {
      color: grey;
      position: absolute;
      left: 2rem;
      display: flex;
      align-items: center;
      padding: 0 4px;
      font-size: 1rem;

      span {
        margin: 0 0.4rem;
      }
    }

    h3 {
      color: grey;
      padding: 0 4px;
      font-size: 1rem;
    }

    .button {
      position: absolute;
      right: 1rem;
    }
  }
}
